@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Nunito:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css?family=Caveat+Brush");

html {
  background-color: #fffff6;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.content {
  background-color: #fffff6;
  width: 100%;
  min-height: 87vh;
}

.alert-div-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(255, 255, 246, 0.8);
  margin: auto;
}

.alert-div {
  background-color: #f8d7da;
  z-index: 1;
  height: 350px;
  width: 70%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.alert-msg {
  min-height: 272px;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 30px;
  margin-right: -40px;
}

.cream-bg {
  background-color: #f2f2e9;
  min-height: 87vh;
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 100%;
}

footer {
  background-color: #fffff6;
  font-family: "Nunito";
  height: 50px;
  text-align: center;
  padding-top: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar {
  border-bottom: 4px solid #ff914d;
  background-color: #fffff6;
  padding-bottom: 15px;
}

#navbarTogglerDemo02 {
  padding-top: 20px;
}

h1,
.vbb-header {
  font-family: "Caveat Brush", cursive;
  font-style: italic;
  font-variant: small-caps;
  letter-spacing: 3px;
  font-size: 3em;
  color: #4c4c49;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 23px;
  padding-left: 25px;
}

h5 {
  font-family: "Caveat Brush", cursive;
  color: #4c4c49;
  font-size: 40px;
  padding-top: 30px;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  padding-left: 50px;
}

a {
  color: #549bea;
}

.badge {
  background-color: #6ac66b;
  margin-left: 20px;
  font-size: medium;
  font-weight: 900;
  font-family: "Nunito", cursive;
}

#bar-header {
  font-weight: bold;
  color: #4c4c49;
}

#bar-header:hover {
  color: #549bea;
}

#bar-header-link:hover {
  color: transparent;
}

#welcome-header {
  font-size: 60px;
}

#portal-purpose {
  color: #6ac66b;
  font-family: "Nunito";
  font-weight: 900;
  padding-top: 5px;
}

/* BUTTONS */

.btn {
  font-family: "Caveat Brush", cursive;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 22px;
  color: white;
  border-radius: 18px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-appearance: none;
}

.btn:hover {
  background-color: #4c4c49;
  color: #b5b5b5;
}

.dashboard-btn {
  width: 275px;
  min-width: 260px;
  font-family: "Nunito", cursive;
  font-weight: bold;
  font-size: 20px;
  color: white;
  letter-spacing: normal;
}

.signin-btn,
#requestsession-btn,
.book-btn,
.applychanges-btn,
.l3-btn,
.l8-btn {
  background-color: #6ac66b;
}

.donate-btn,
.gcal-btn,
.signup-btn,
.l1-btn,
.l6-btn,
.next-btn {
  background-color: #549bea;
}

.signout-btn,
.l2-btn,
.l5-btn,
.unbook-btn {
  background-color: #ff914d;
}

.l4-btn,
.l7-btn {
  background-color: #ffbd59;
}

.donate-btn {
  margin-right: 20px;
}

.goback-btn,
.prev-btn {
  background-color: gray;
}

.goback-btn {
  margin-right: 20px;
}

.signin-btn:hover,
.signup-btn:hover {
  background-color: #ff914d;
}

.applychanges-btn {
  float: right;
}

.applychanges-btn:disabled,
.applychanges-btn:disabled:hover {
  background-color: lightgray;
}

.applychanges-btn:hover,
.unbook-btn:hover {
  background-color: #549bea;
}

hr {
  border: 0.7px solid gainsboro;
}

#sep-bar {
  width: 85%;
}

.twocol-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-count: 2;
}

.column {
  flex: 2;
  width: 100%;
  margin: 2vw;
  padding: 30px;
  border-radius: 30px;
}

.col-card {
  background-color: #fffff6;
  min-height: 675px;
}

#mentoring-session-box {
  flex: 1;
}

.session-details-link {
  font-size: x-large;
  font-weight: 500;
}

.session-details-location {
  color: #549bea;
  padding-left: 5px;
}

.session-details-card {
  width: 50vw;
  margin-top: 20px;
  margin-bottom: 70px;
}

#mentoring-resources-box {
  max-width: 1000px;
}

#mentoring-resources-fields {
  flex-direction: row;
}

.dashboard-btn {
  margin: 20px;
}

#signin-box {
  text-align: center;
  position: relative;
  bottom: 65px;
}

#google-box {
  border-radius: 10px;
  max-width: 362px;
  margin: auto;
}

#create-account-box {
  border-radius: 10px;
  padding: 20px;
  max-width: 450px;
  margin: auto;
}

#signin-picture-box {
  margin: 5vw;
  max-width: 800px;
}

.loading-spinner {
  margin-top: 50%;
  margin-left: 50%;
}

#full-logo {
  display: block;
}

#mini-logo {
  display: none;
}

/* BOOKING */

#booking-box {
  width: 550px;
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 100px;
}

select {
  float: right;
  width: 220px;
  margin-top: 10px;
  height: 30px;
}

label {
  font-size: large;
  font-weight: 500;
  max-width: 90%;
  margin-top: 10px;
}

input {
  height: 30px;
  margin-bottom: 10px;
}

#mentor,
#commitment {
  float: right;
  margin-top: 10px;
}

#signup-header {
  padding: 20px;
}

.step-form {
  padding: 20px;
  max-width: 700px;
  margin: auto;
  height: 100%;
}

.signup-form {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 120px;
}

/* DESKTOP ADJUSTMENTS */

@media all and (min-width: 990px) {
  #bar-header {
    margin-left: 20vw;
    width: 300px;
  }

  #signup-btn {
    margin-left: 5vw;
  }

  .btn-pair {
    position: absolute;
    right: 40px;
    top: 20px;
  }

  #booking-header {
    font-size: 40px;
    padding-top: 30px;
  }

  #signin-box {
    min-width: 400px;
    margin-top: 150px;
  }

  #mentoring-session-box {
    min-width: 450px;
  }
  #mentoring-resources-box {
    min-width: 700px;
  }
}

/* JUST TABLET ADJUSTMENTS */

@media only screen and (min-width: 660px) and (max-width: 1270px) {
  #mentoring-session-box,
  #mentoring-resources-box {
    min-width: 700px;
    max-width: 1000px;
  }
}

/* TABLET AND MOBILE ADJUSTMENTS */

@media (max-width: 990px) {
  #bar-header {
    margin-top: -5px;
  }

  #booking-header {
    font-size: 30px;
  }

  .badge {
    font-size: small;
    margin-left: 10px;
  }

  .column {
    margin: 5vw;
    min-width: 350px;
  }

  #signin-picture {
    display: none;
  }

  #booking-picture {
    display: none;
  }

  .vbb-header {
    font-size: 2.5em;
  }

  #signin-box {
    top: 10px;
  }

  #mentoring-session-box,
  #mentoring-resources-box {
    margin: 20px;
  }

  #booking-box {
    padding: 10px;
    margin-top: 40px;
  }

  .session-details-card {
    width: 85vw;
  }
}

/* MOBILE ADJUSTMENTS */

@media (max-width: 600px) {
  #full-logo {
    display: none;
  }

  #mini-logo {
    display: block;
  }

  footer {
    font-size: 13px;
  }

  p {
    font-size: 16px;
  }

  h1 {
    font-size: 35px;
  }

  #bar-header {
    margin-top: -20px;
    font-size: 40px;
  }

  select {
    width: 80%;
  }

  #welcome-header {
    width: 270px;
    margin: auto;
  }

  #signup-header {
    width: 350px;
  }

  .goback-btn {
    margin-right: 100px;
    margin-bottom: 20px;
  }

  .dashboard-btn {
    font-size: 18px;
  }

  #booking-box {
    width: 350px;
  }

  .signup-form {
    padding-left: 20px;
    padding-right: 20px;
  }

  #mentoring-resources-box {
    min-height: 850px;
  }

  .dashboard-btn {
    font-size: 18px;
  }

  #time_zone {
    margin-left: 90px;
  }

  #ex-space {
    margin-bottom: -20px;
  }

  .unbook-btn,
  .applychanges-btn {
    float: left;
  }
}

/* SUPER MOBILE ADJUSTMENTS */

@media (max-width: 355px) {
  .badge {
    display: none;
  }
}
